<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='../static/css/LS-css.css'></link>
    <script src='../static/js/jquery.min.js'></script>
    <script src='../static/js/LS-js.js'></script>
    </head>
<body>

    <nav class="main_nav"> 
    <ul> 
        <li><a class="cd-signin" href="#0">Log In</a></li> 
        <li><a class="cd-signup" href="#0">Sign Up</a></li> 
    </ul> 
    </nav> 
   <div class="cd-user-modal">  
    <div class="cd-user-modal-container"> 
        <ul class="cd-switcher"> 
            <li><a href="#0">Log In</a></li> 
            <li><a href="#0">Sign Up</a></li> 
        </ul> 
 
        <div id="cd-login">  
            <form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signin-username">Username</label>
						<input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="Enter Username">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Enter Password">
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember Me</label>
					</p>

					<p class="fieldset">
						<input class="full-width2" type="submit" value="Log In">
					</p>
				</form>
        </div> 
 
        <div id="cd-signup">
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Enter Username">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">Email</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Enter Email Address">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Enter Password">
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I have read and accept <a href="#0">Terms of Service</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width2" type="submit" value="Sign Up">
					</p>
				</form>
			</div>

			<a href="#0" class="cd-close-form">Close</a>
		</div>
	</div> 
    </div> 
    

</body>
</html>



