<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/LS_css.css">
        <link rel="stylesheet" href="../static/css/site_min.css">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/LS_js.js"></script>


                
    </head>
<body>
<div class="container">
    <div class="row">
    <div class="col-md-12">
    <table class="table table-striped">
    <tr>
    <th><font color="black">impressions</font></th>
    <th><font color="black">likes</font></th>
    <th><font color="black">replies</font></th>
    </tr>
    <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    </tr>
    </table>
    </div>
    </div>
    
    </body>
</html>